<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Hiberusb\Carrerob\Api\Data\CarreroInterface" type="Hiberusb\Carrerob\Model\Carrerob"/>
    <preference for="Hiberusb\Carrerob\Api\CarreroRepositoryInterface" type="Hiberusb\Carrerob\Model\CarreroRepository"/>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Hiberusb\Carrerob\Api\Data\CarreroInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Hiberusb\Carrerob\Api\Data\CarreroInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Hiberusb\Carrerob\Api\Data\CarreroInterface::COLUMN_ID</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Hiberusb\Carrerob\Block\Index">
        <plugin name="carrerob_plugin" type="Hiberusb\Carrerob\Plugin\Carrerob\CarrerobPlugin" sortOrder="10" disabled="false"  />
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="comando_examen" xsi:type="object">Hiberusb\Carrerob\Console\ExamCommand</item>
            </argument>
        </arguments>
    </type>
<!--    <virtualType name="Hiberusb\Carrerob\Model" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/hiberus_carrero.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Payment\Model\Method\MyCustomLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Magento\Payment\Model\Method\MyCustomDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">Magento\Payment\Model\Method\MyCustomLogger</argument>
        </arguments>
    </type>-->

</config>
