<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Hiberus\Carrero\Api\Data\CarreroInterface" type="Hiberus\Carrero\Model\Carrerob"/>
    <preference for="Hiberus\Carrero\Api\CarreroRepositoryInterface" type="Hiberus\Carrero\Model\CarreroRepository"/>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Hiberus\Carrero\Api\Data\CarreroInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Hiberus\Carrero\Api\Data\CarreroInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Hiberus\Carrero\Api\Data\CarreroInterface::COLUMN_ID</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Hiberus\Carrero\Block\Index">
        <plugin name="carrerob_plugin" type="Hiberus\Carrero\Plugin\Carrerob\CarrerobPlugin" sortOrder="10" disabled="false"  />
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="comando_examen" xsi:type="object">Hiberus\Carrero\Console\ExamCommand</item>
            </argument>
        </arguments>
    </type>
    <!-- Logger -->
    <virtualType name="Hiberus\Carrero\Logger\SampleDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/hiberus_carrero.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Hiberus\Carrero\Logger\Monolog" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Hiberus\Carrero\Logger\SampleDebug</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Hiberus\Carrero\Logger\SampleLogger">
        <arguments>
            <argument name="logger" xsi:type="object">Hiberus\Carrero\Logger\Monolog</argument>
        </arguments>
    </type>
</config>
